venv/
__pycache__/
*.pyc
.DS_Store
artifacts/raw/
artifacts/processed/
artifacts/model/
artifacts/weights/
artifacts/model_checkpoint/
anime_recommender_system.egg-info/
omega-branch-483602-k3-39e0ec10d14c.json